@model IEnumerable<ContosoUniversity.ViewModels.EnrolmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.EnrollmentDate)</td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>



<p>Use this area to provide additional information.</p>
